

button{
    display: block;
}

div{
    width: 100px;
    height: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
}

#box2{
    /* is mai jagha nai bachy ge */
    display: none; 
    /* is mai jagha nai bachti */
    /* visibility: hidden; */
}
